:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;

}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:rgb(240, 239, 239);
    font-family: 'Poppins', sans-serif;
}

.container{
    width: min(90vw, 800px);
    margin:auto;
}

h2{
    margin-top:3.2rem;
    margin-bottom: 0.8rem;
    color:#6db1ff;
    font-weight: normal;

}

header{
    background: #6db1ff;
    padding:2rem 0 10rem;
    text-align: center;
}

#logo{
    color:#fff;
    font-weight: 100;
}

#balance{
    margin-top: -8rem;
}
#balance h2{
    color:#fff;
    margin-top:0;
}
.card{
    background:#fff;
    padding:1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background:#76b5fc;
    color: white;
}

#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

footer{
    text-align: center;
}